[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
firebase-admin = "*"
pyrebase = "*"
flask = "*"
geopy = "*"

[dev-packages]

[requires]
python_version = "3.11"
