[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
geopy = "*"
flask = "*"
pyrebase = "*"
firebase-admin = "*"
numpy = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.11"
